body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
  flex: 1 0 auto;
}

/*img {
  width: 100%;
}*/

#hero-image {
  background-image: url('img/hero.jpg');
  background-size: cover;
  height: 450px;
  /*background-attachment: fixed; parallax
  background-position: center;
  background-repeat: no-repeat;*/
}

#button {
  height: 40px;
}

#tagline {
  font-size: 7vw;
  font-weight: 500;
}

.brand-logo, .button-collapse {
  margin-left: 20px;
}

.margin-right {
  margin-right: 20px;
  padding: 0 10px;
}

/*i {
  vertical-align: bottom;
}*/
